//변수처리

//size width
$siteWidth: 1320px;

//text size
$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeSBig: 21px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 48px;

//background color
$layoutBg: #f5f5f5;
$footerBg: #2a2a2a;

//font color
$fontColorBasic: #2a2a2a;
$fontColorPrimary: #23b1a5;
$fontColorSub: #f1a99b;
$fontColorHover: #23b1a5;

//border color
$borderColorPrimary: #23b1a5;
$borderColor: #23b1a5;

//button color
$gbtnColor: #23b1a5;
$gbtnColorHover: rgb(255, 255, 255);

//table bg
$tableBg: #fff;
